body{
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    overflow: hidden;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
}

#myCanvas{
    background-color: rgba(187, 173, 160, 1);
}