body {
    background-color: skyblue;
}

.quote-container {
    margin: auto;
}

p {
    color: darkorange;
    font-weight: 400;
}

.quote {
    font-size: 3rem;
}

.author {
    font-size: 2.8rem;
}
